/* ------------------------------------------------------------------------------------------------------------------------------
CATALOG CATEGORIES SECTION
--------------------------------------------------------------------------------------------------------------------------------*/

.categories {
	padding-top: 35px;
	padding-bottom: 50px;

	@include xxl {
		padding-top: 75px;
		padding-bottom: 75px;
	}

	&__title {
		font-weight: 500;

		line-height: 100%;
		letter-spacing: -0.02em;
		color: var(--black);

		font-size: 28px;
		text-align: center;

		margin-bottom: 30px;

		@include sm {
			font-size: 30px;
			margin-bottom: 20px;
		}
		@include md {
			font-size: 44px;
			margin-bottom: 20px;
		}

		@include xl {
			font-size: 55px;
			margin-bottom: 40px;
		}
	}
	&__grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: 12px;

		@include md {
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;
		}

		@include xxl {
			grid-template-columns: repeat(3, 1fr);
			gap: 20px;
		}
	}
}
