/* ------------------------------------------------------------------------------------------------------------------------------
ROOT
--------------------------------------------------------------------------------------------------------------------------------*/
:root {
	--site-max-width: 1440px;

	--font-title: "Montserrat", sans-serif;
	--font-main: "Roboto", sans-serif;

	--white: white;
	--black: black;
	--accent: red;
	--text: rgb(47, 47, 47);

	--bs-transition: all 0.3s ease-in-out;
}
