/* ------------------------------------------------------------------------------------------------------------------------------
RECOMMENDED PRODUCTS SECTION
--------------------------------------------------------------------------------------------------------------------------------*/
.recommended {
	padding: 50px 0 100px;
	user-select: none;

	@include xxxl {
		padding: 75px 0 150px;
	}

	&__title {
		line-height: 100%;
		letter-spacing: -0.02em;
		color: var(--black);
		text-align: left;
		font-weight: 500;
		font-size: 24px;
		margin-bottom: 22px;

		@include sm {
			font-size: 30px;
		}

		@include xl {
			display: block;
			font-weight: 600;
			font-size: 55px;
		}
	}

	&__slider {
		.swiper-wrapper {
			align-items: stretch;
		}

		.swiper-slide {
			display: flex;
			height: auto;
		}
	}

	&__card {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 15px;
		background: #fff;
		border-radius: 20px;
		text-align: center;
	}
}

/* ------------------------------------------------------------------------------------------------------------------------------
Swiper arrows
--------------------------------------------------------------------------------------------------------------------------------*/

.recommended__nav {
	position: absolute;
	top: 37%;
	width: 100%;
	height: 1px;
	display: flex;
	gap: 8px;
	z-index: 1;

	@include sm {
		display: none;
	}
}

.recommended__arrow {
	position: absolute;
	top: 0;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	border: none;
	border-radius: 50%;
	background: #ddd;

	width: 26px;
	height: 26px;

	svg {
		width: 4px;
		height: 8px;
	}

	/* 375px */
	@media (min-width: 375px) {
		width: 44px;
		height: 44px;

		svg {
			width: 7px;
			height: 13px;
		}
	}

	/* 640px */
	@media (min-width: 640px) {
		width: 26px;
		height: 26px;

		svg {
			width: 4px;
			height: 8px;
		}
	}

	@include lg {
		width: 44px;
		height: 44px;

		svg {
			width: 7px;
			height: 13px;
		}
	}

	@include xxl {
		width: 46px;
		height: 46px;
	}

	@include xxxl {
		width: 52px;
		height: 52px;

		svg {
			width: 8px;
			height: 15px;
		}
	}

	&--prev {
		left: 15px;

		@include md { left: 20px; }
		@include xxl { left: 25px; }
		@include xxxl { left: 30px; }
	}

	&--next {
		right: 15px;

		@include md { right: 20px; }
		@include xxl { right: 25px; }
		@include xxxl { right: 30px; }
	}
}