
/* -- g-0 -- */
.g-0, 
.gx-0 {
  --bs-gutter-x: 0px;
}

.g-0, 
.gy-0 {
  --bs-gutter-y: 0px;
}

/* -- g-1 -- */
.g-1, 
.gx-1 {
  --bs-gutter-x: 1px;
}

.g-1, 
.gy-1 {
  --bs-gutter-y: 1px;
}

/* -- g-2 -- */
.g-2, 
.gx-2 {
  --bs-gutter-x: 2px;
}

.g-2, 
.gy-2 {
  --bs-gutter-y: 2px;
}

/* -- g-3 -- */
.g-3, 
.gx-3 {
  --bs-gutter-x: 3px;
}

.g-3, 
.gy-3 {
  --bs-gutter-y: 3px;
}

/* -- g-4 -- */
.g-4, 
.gx-4 {
  --bs-gutter-x: 4px;
}

.g-4, 
.gy-4 {
  --bs-gutter-y: 4px;
}

/* -- g-5 -- */
.g-5, 
.gx-5 {
  --bs-gutter-x: 5px;
}

.g-5, 
.gy-5 {
  --bs-gutter-y: 5px;
}

/* -- g-6 -- */
.g-6, 
.gx-6 {
  --bs-gutter-x: 6px;
}

.g-6, 
.gy-6 {
  --bs-gutter-y: 6px;
}

/* -- g-7 -- */
.g-7, 
.gx-7 {
  --bs-gutter-x: 7px;
}

.g-7, 
.gy-7 {
  --bs-gutter-y: 7px;
}

/* -- g-8 -- */
.g-8, 
.gx-8 {
  --bs-gutter-x: 8px;
}

.g-8, 
.gy-8 {
  --bs-gutter-y: 8px;
}

/* -- g-9 -- */
.g-9, 
.gx-9 {
  --bs-gutter-x: 9px;
}

.g-9, 
.gy-9 {
  --bs-gutter-y: 9px;
}

/* -- g-10 -- */
.g-10, 
.gx-10 {
  --bs-gutter-x: 10px;
}

.g-10, 
.gy-10 {
  --bs-gutter-y: 10px;
}

/* -- g-11 -- */
.g-11, 
.gx-11 {
  --bs-gutter-x: 11px;
}

.g-11, 
.gy-11 {
  --bs-gutter-y: 11px;
}

/* -- g-12 -- */
.g-12, 
.gx-12 {
  --bs-gutter-x: 12px;
}

.g-12, 
.gy-12 {
  --bs-gutter-y: 12px;
}

/* -- g-13 -- */
.g-13, 
.gx-13 {
  --bs-gutter-x: 13px;
}

.g-13, 
.gy-13 {
  --bs-gutter-y: 13px;
}

/* -- g-14 -- */
.g-14, 
.gx-14 {
  --bs-gutter-x: 14px;
}

.g-14, 
.gy-14 {
  --bs-gutter-y: 14px;
}

/* -- g-15 -- */
.g-15, 
.gx-15 {
  --bs-gutter-x: 15px;
}

.g-15, 
.gy-15 {
  --bs-gutter-y: 15px;
}

/* -- g-16 -- */
.g-16, 
.gx-16 {
  --bs-gutter-x: 16px;
}

.g-16, 
.gy-16 {
  --bs-gutter-y: 16px;
}

/* -- g-17 -- */
.g-17, 
.gx-17 {
  --bs-gutter-x: 17px;
}

.g-17, 
.gy-17 {
  --bs-gutter-y: 17px;
}

/* -- g-18 -- */
.g-18, 
.gx-18 {
  --bs-gutter-x: 18px;
}

.g-18, 
.gy-18 {
  --bs-gutter-y: 18px;
}

/* -- g-19 -- */
.g-19, 
.gx-19 {
  --bs-gutter-x: 19px;
}

.g-19, 
.gy-19 {
  --bs-gutter-y: 19px;
}

/* -- g-20 -- */
.g-20, 
.gx-20 {
  --bs-gutter-x: 20px;
}

.g-20, 
.gy-20 {
  --bs-gutter-y: 20px;
}

/* -- g-21 -- */
.g-21, 
.gx-21 {
  --bs-gutter-x: 21px;
}

.g-21, 
.gy-21 {
  --bs-gutter-y: 21px;
}

/* -- g-22 -- */
.g-22, 
.gx-22 {
  --bs-gutter-x: 22px;
}

.g-22, 
.gy-22 {
  --bs-gutter-y: 22px;
}

/* -- g-23 -- */
.g-23, 
.gx-23 {
  --bs-gutter-x: 23px;
}

.g-23, 
.gy-23 {
  --bs-gutter-y: 23px;
}

/* -- g-24 -- */
.g-24, 
.gx-24 {
  --bs-gutter-x: 24px;
}

.g-24, 
.gy-24 {
  --bs-gutter-y: 24px;
}

/* -- g-25 -- */
.g-25, 
.gx-25 {
  --bs-gutter-x: 25px;
}

.g-25, 
.gy-25 {
  --bs-gutter-y: 25px;
}

/* -- g-26 -- */
.g-26, 
.gx-26 {
  --bs-gutter-x: 26px;
}

.g-26, 
.gy-26 {
  --bs-gutter-y: 26px;
}

/* -- g-27 -- */
.g-27, 
.gx-27 {
  --bs-gutter-x: 27px;
}

.g-27, 
.gy-27 {
  --bs-gutter-y: 27px;
}

/* -- g-28 -- */
.g-28, 
.gx-28 {
  --bs-gutter-x: 28px;
}

.g-28, 
.gy-28 {
  --bs-gutter-y: 28px;
}

/* -- g-29 -- */
.g-29, 
.gx-29 {
  --bs-gutter-x: 29px;
}

.g-29, 
.gy-29 {
  --bs-gutter-y: 29px;
}

/* -- g-30 -- */
.g-30, 
.gx-30 {
  --bs-gutter-x: 30px;
}

.g-30, 
.gy-30 {
  --bs-gutter-y: 30px;
}

/* -- g-31 -- */
.g-31, 
.gx-31 {
  --bs-gutter-x: 31px;
}

.g-31, 
.gy-31 {
  --bs-gutter-y: 31px;
}

/* -- g-32 -- */
.g-32, 
.gx-32 {
  --bs-gutter-x: 32px;
}

.g-32, 
.gy-32 {
  --bs-gutter-y: 32px;
}

/* -- g-33 -- */
.g-33, 
.gx-33 {
  --bs-gutter-x: 33px;
}

.g-33, 
.gy-33 {
  --bs-gutter-y: 33px;
}

/* -- g-34 -- */
.g-34, 
.gx-34 {
  --bs-gutter-x: 34px;
}

.g-34, 
.gy-34 {
  --bs-gutter-y: 34px;
}

/* -- g-35 -- */
.g-35, 
.gx-35 {
  --bs-gutter-x: 35px;
}

.g-35, 
.gy-35 {
  --bs-gutter-y: 35px;
}

/* -- g-36 -- */
.g-36, 
.gx-36 {
  --bs-gutter-x: 36px;
}

.g-36, 
.gy-36 {
  --bs-gutter-y: 36px;
}

/* -- g-37 -- */
.g-37, 
.gx-37 {
  --bs-gutter-x: 37px;
}

.g-37, 
.gy-37 {
  --bs-gutter-y: 37px;
}

/* -- g-38 -- */
.g-38, 
.gx-38 {
  --bs-gutter-x: 38px;
}

.g-38, 
.gy-38 {
  --bs-gutter-y: 38px;
}

/* -- g-39 -- */
.g-39, 
.gx-39 {
  --bs-gutter-x: 39px;
}

.g-39, 
.gy-39 {
  --bs-gutter-y: 39px;
}

/* -- g-40 -- */
.g-40, 
.gx-40 {
  --bs-gutter-x: 40px;
}

.g-40, 
.gy-40 {
  --bs-gutter-y: 40px;
}

/* -- g-41 -- */
.g-41, 
.gx-41 {
  --bs-gutter-x: 41px;
}

.g-41, 
.gy-41 {
  --bs-gutter-y: 41px;
}

/* -- g-42 -- */
.g-42, 
.gx-42 {
  --bs-gutter-x: 42px;
}

.g-42, 
.gy-42 {
  --bs-gutter-y: 42px;
}

/* -- g-43 -- */
.g-43, 
.gx-43 {
  --bs-gutter-x: 43px;
}

.g-43, 
.gy-43 {
  --bs-gutter-y: 43px;
}

/* -- g-44 -- */
.g-44, 
.gx-44 {
  --bs-gutter-x: 44px;
}

.g-44, 
.gy-44 {
  --bs-gutter-y: 44px;
}

/* -- g-45 -- */
.g-45, 
.gx-45 {
  --bs-gutter-x: 45px;
}

.g-45, 
.gy-45 {
  --bs-gutter-y: 45px;
}

/* -- g-46 -- */
.g-46, 
.gx-46 {
  --bs-gutter-x: 46px;
}

.g-46, 
.gy-46 {
  --bs-gutter-y: 46px;
}

/* -- g-47 -- */
.g-47, 
.gx-47 {
  --bs-gutter-x: 47px;
}

.g-47, 
.gy-47 {
  --bs-gutter-y: 47px;
}

/* -- g-48 -- */
.g-48, 
.gx-48 {
  --bs-gutter-x: 48px;
}

.g-48, 
.gy-48 {
  --bs-gutter-y: 48px;
}

/* -- g-49 -- */
.g-49, 
.gx-49 {
  --bs-gutter-x: 49px;
}

.g-49, 
.gy-49 {
  --bs-gutter-y: 49px;
}

/* -- g-50 -- */
.g-50, 
.gx-50 {
  --bs-gutter-x: 50px;
}

.g-50, 
.gy-50 {
  --bs-gutter-y: 50px;
}

/* -- g-55 -- */
.g-55, 
.gx-55 {
  --bs-gutter-x: 55px;
}

.g-55, 
.gy-55 {
  --bs-gutter-y: 55px;
}

/* -- g-60 -- */
.g-60, 
.gx-60 {
  --bs-gutter-x: 60px;
}

.g-60, 
.gy-60 {
  --bs-gutter-y: 60px;
}

/* -- g-65 -- */
.g-65, 
.gx-65 {
  --bs-gutter-x: 65px;
}

.g-65, 
.gy-65 {
  --bs-gutter-y: 65px;
}

/* -- g-70 -- */
.g-70, 
.gx-70 {
  --bs-gutter-x: 70px;
}

.g-70, 
.gy-70 {
  --bs-gutter-y: 70px;
}

/* -- g-75 -- */
.g-75, 
.gx-75 {
  --bs-gutter-x: 75px;
}

.g-75, 
.gy-75 {
  --bs-gutter-y: 75px;
}

/* -- g-80 -- */
.g-80, 
.gx-80 {
  --bs-gutter-x: 80px;
}

.g-80, 
.gy-80 {
  --bs-gutter-y: 80px;
}

/* -- g-85 -- */
.g-85, 
.gx-85 {
  --bs-gutter-x: 85px;
}

.g-85, 
.gy-85 {
  --bs-gutter-y: 85px;
}

/* -- g-90 -- */
.g-90, 
.gx-90 {
  --bs-gutter-x: 90px;
}

.g-90, 
.gy-90 {
  --bs-gutter-y: 90px;
}

/* -- g-95 -- */
.g-95, 
.gx-95 {
  --bs-gutter-x: 95px;
}

.g-95, 
.gy-95 {
  --bs-gutter-y: 95px;
}

/* -- g-100 -- */
.g-100, 
.gx-100 {
  --bs-gutter-x: 100px;
}

.g-100, 
.gy-100 {
  --bs-gutter-y: 100px;
}
@media (min-width: 576px) {

/* -- g-sm-0 -- */
.g-sm-0, 
.gx-sm-0 {
  --bs-gutter-x: 0px;
}

.g-sm-0, 
.gy-sm-0 {
  --bs-gutter-y: 0px;
}

/* -- g-sm-1 -- */
.g-sm-1, 
.gx-sm-1 {
  --bs-gutter-x: 1px;
}

.g-sm-1, 
.gy-sm-1 {
  --bs-gutter-y: 1px;
}

/* -- g-sm-2 -- */
.g-sm-2, 
.gx-sm-2 {
  --bs-gutter-x: 2px;
}

.g-sm-2, 
.gy-sm-2 {
  --bs-gutter-y: 2px;
}

/* -- g-sm-3 -- */
.g-sm-3, 
.gx-sm-3 {
  --bs-gutter-x: 3px;
}

.g-sm-3, 
.gy-sm-3 {
  --bs-gutter-y: 3px;
}

/* -- g-sm-4 -- */
.g-sm-4, 
.gx-sm-4 {
  --bs-gutter-x: 4px;
}

.g-sm-4, 
.gy-sm-4 {
  --bs-gutter-y: 4px;
}

/* -- g-sm-5 -- */
.g-sm-5, 
.gx-sm-5 {
  --bs-gutter-x: 5px;
}

.g-sm-5, 
.gy-sm-5 {
  --bs-gutter-y: 5px;
}

/* -- g-sm-6 -- */
.g-sm-6, 
.gx-sm-6 {
  --bs-gutter-x: 6px;
}

.g-sm-6, 
.gy-sm-6 {
  --bs-gutter-y: 6px;
}

/* -- g-sm-7 -- */
.g-sm-7, 
.gx-sm-7 {
  --bs-gutter-x: 7px;
}

.g-sm-7, 
.gy-sm-7 {
  --bs-gutter-y: 7px;
}

/* -- g-sm-8 -- */
.g-sm-8, 
.gx-sm-8 {
  --bs-gutter-x: 8px;
}

.g-sm-8, 
.gy-sm-8 {
  --bs-gutter-y: 8px;
}

/* -- g-sm-9 -- */
.g-sm-9, 
.gx-sm-9 {
  --bs-gutter-x: 9px;
}

.g-sm-9, 
.gy-sm-9 {
  --bs-gutter-y: 9px;
}

/* -- g-sm-10 -- */
.g-sm-10, 
.gx-sm-10 {
  --bs-gutter-x: 10px;
}

.g-sm-10, 
.gy-sm-10 {
  --bs-gutter-y: 10px;
}

/* -- g-sm-11 -- */
.g-sm-11, 
.gx-sm-11 {
  --bs-gutter-x: 11px;
}

.g-sm-11, 
.gy-sm-11 {
  --bs-gutter-y: 11px;
}

/* -- g-sm-12 -- */
.g-sm-12, 
.gx-sm-12 {
  --bs-gutter-x: 12px;
}

.g-sm-12, 
.gy-sm-12 {
  --bs-gutter-y: 12px;
}

/* -- g-sm-13 -- */
.g-sm-13, 
.gx-sm-13 {
  --bs-gutter-x: 13px;
}

.g-sm-13, 
.gy-sm-13 {
  --bs-gutter-y: 13px;
}

/* -- g-sm-14 -- */
.g-sm-14, 
.gx-sm-14 {
  --bs-gutter-x: 14px;
}

.g-sm-14, 
.gy-sm-14 {
  --bs-gutter-y: 14px;
}

/* -- g-sm-15 -- */
.g-sm-15, 
.gx-sm-15 {
  --bs-gutter-x: 15px;
}

.g-sm-15, 
.gy-sm-15 {
  --bs-gutter-y: 15px;
}

/* -- g-sm-16 -- */
.g-sm-16, 
.gx-sm-16 {
  --bs-gutter-x: 16px;
}

.g-sm-16, 
.gy-sm-16 {
  --bs-gutter-y: 16px;
}

/* -- g-sm-17 -- */
.g-sm-17, 
.gx-sm-17 {
  --bs-gutter-x: 17px;
}

.g-sm-17, 
.gy-sm-17 {
  --bs-gutter-y: 17px;
}

/* -- g-sm-18 -- */
.g-sm-18, 
.gx-sm-18 {
  --bs-gutter-x: 18px;
}

.g-sm-18, 
.gy-sm-18 {
  --bs-gutter-y: 18px;
}

/* -- g-sm-19 -- */
.g-sm-19, 
.gx-sm-19 {
  --bs-gutter-x: 19px;
}

.g-sm-19, 
.gy-sm-19 {
  --bs-gutter-y: 19px;
}

/* -- g-sm-20 -- */
.g-sm-20, 
.gx-sm-20 {
  --bs-gutter-x: 20px;
}

.g-sm-20, 
.gy-sm-20 {
  --bs-gutter-y: 20px;
}

/* -- g-sm-21 -- */
.g-sm-21, 
.gx-sm-21 {
  --bs-gutter-x: 21px;
}

.g-sm-21, 
.gy-sm-21 {
  --bs-gutter-y: 21px;
}

/* -- g-sm-22 -- */
.g-sm-22, 
.gx-sm-22 {
  --bs-gutter-x: 22px;
}

.g-sm-22, 
.gy-sm-22 {
  --bs-gutter-y: 22px;
}

/* -- g-sm-23 -- */
.g-sm-23, 
.gx-sm-23 {
  --bs-gutter-x: 23px;
}

.g-sm-23, 
.gy-sm-23 {
  --bs-gutter-y: 23px;
}

/* -- g-sm-24 -- */
.g-sm-24, 
.gx-sm-24 {
  --bs-gutter-x: 24px;
}

.g-sm-24, 
.gy-sm-24 {
  --bs-gutter-y: 24px;
}

/* -- g-sm-25 -- */
.g-sm-25, 
.gx-sm-25 {
  --bs-gutter-x: 25px;
}

.g-sm-25, 
.gy-sm-25 {
  --bs-gutter-y: 25px;
}

/* -- g-sm-26 -- */
.g-sm-26, 
.gx-sm-26 {
  --bs-gutter-x: 26px;
}

.g-sm-26, 
.gy-sm-26 {
  --bs-gutter-y: 26px;
}

/* -- g-sm-27 -- */
.g-sm-27, 
.gx-sm-27 {
  --bs-gutter-x: 27px;
}

.g-sm-27, 
.gy-sm-27 {
  --bs-gutter-y: 27px;
}

/* -- g-sm-28 -- */
.g-sm-28, 
.gx-sm-28 {
  --bs-gutter-x: 28px;
}

.g-sm-28, 
.gy-sm-28 {
  --bs-gutter-y: 28px;
}

/* -- g-sm-29 -- */
.g-sm-29, 
.gx-sm-29 {
  --bs-gutter-x: 29px;
}

.g-sm-29, 
.gy-sm-29 {
  --bs-gutter-y: 29px;
}

/* -- g-sm-30 -- */
.g-sm-30, 
.gx-sm-30 {
  --bs-gutter-x: 30px;
}

.g-sm-30, 
.gy-sm-30 {
  --bs-gutter-y: 30px;
}

/* -- g-sm-31 -- */
.g-sm-31, 
.gx-sm-31 {
  --bs-gutter-x: 31px;
}

.g-sm-31, 
.gy-sm-31 {
  --bs-gutter-y: 31px;
}

/* -- g-sm-32 -- */
.g-sm-32, 
.gx-sm-32 {
  --bs-gutter-x: 32px;
}

.g-sm-32, 
.gy-sm-32 {
  --bs-gutter-y: 32px;
}

/* -- g-sm-33 -- */
.g-sm-33, 
.gx-sm-33 {
  --bs-gutter-x: 33px;
}

.g-sm-33, 
.gy-sm-33 {
  --bs-gutter-y: 33px;
}

/* -- g-sm-34 -- */
.g-sm-34, 
.gx-sm-34 {
  --bs-gutter-x: 34px;
}

.g-sm-34, 
.gy-sm-34 {
  --bs-gutter-y: 34px;
}

/* -- g-sm-35 -- */
.g-sm-35, 
.gx-sm-35 {
  --bs-gutter-x: 35px;
}

.g-sm-35, 
.gy-sm-35 {
  --bs-gutter-y: 35px;
}

/* -- g-sm-36 -- */
.g-sm-36, 
.gx-sm-36 {
  --bs-gutter-x: 36px;
}

.g-sm-36, 
.gy-sm-36 {
  --bs-gutter-y: 36px;
}

/* -- g-sm-37 -- */
.g-sm-37, 
.gx-sm-37 {
  --bs-gutter-x: 37px;
}

.g-sm-37, 
.gy-sm-37 {
  --bs-gutter-y: 37px;
}

/* -- g-sm-38 -- */
.g-sm-38, 
.gx-sm-38 {
  --bs-gutter-x: 38px;
}

.g-sm-38, 
.gy-sm-38 {
  --bs-gutter-y: 38px;
}

/* -- g-sm-39 -- */
.g-sm-39, 
.gx-sm-39 {
  --bs-gutter-x: 39px;
}

.g-sm-39, 
.gy-sm-39 {
  --bs-gutter-y: 39px;
}

/* -- g-sm-40 -- */
.g-sm-40, 
.gx-sm-40 {
  --bs-gutter-x: 40px;
}

.g-sm-40, 
.gy-sm-40 {
  --bs-gutter-y: 40px;
}

/* -- g-sm-41 -- */
.g-sm-41, 
.gx-sm-41 {
  --bs-gutter-x: 41px;
}

.g-sm-41, 
.gy-sm-41 {
  --bs-gutter-y: 41px;
}

/* -- g-sm-42 -- */
.g-sm-42, 
.gx-sm-42 {
  --bs-gutter-x: 42px;
}

.g-sm-42, 
.gy-sm-42 {
  --bs-gutter-y: 42px;
}

/* -- g-sm-43 -- */
.g-sm-43, 
.gx-sm-43 {
  --bs-gutter-x: 43px;
}

.g-sm-43, 
.gy-sm-43 {
  --bs-gutter-y: 43px;
}

/* -- g-sm-44 -- */
.g-sm-44, 
.gx-sm-44 {
  --bs-gutter-x: 44px;
}

.g-sm-44, 
.gy-sm-44 {
  --bs-gutter-y: 44px;
}

/* -- g-sm-45 -- */
.g-sm-45, 
.gx-sm-45 {
  --bs-gutter-x: 45px;
}

.g-sm-45, 
.gy-sm-45 {
  --bs-gutter-y: 45px;
}

/* -- g-sm-46 -- */
.g-sm-46, 
.gx-sm-46 {
  --bs-gutter-x: 46px;
}

.g-sm-46, 
.gy-sm-46 {
  --bs-gutter-y: 46px;
}

/* -- g-sm-47 -- */
.g-sm-47, 
.gx-sm-47 {
  --bs-gutter-x: 47px;
}

.g-sm-47, 
.gy-sm-47 {
  --bs-gutter-y: 47px;
}

/* -- g-sm-48 -- */
.g-sm-48, 
.gx-sm-48 {
  --bs-gutter-x: 48px;
}

.g-sm-48, 
.gy-sm-48 {
  --bs-gutter-y: 48px;
}

/* -- g-sm-49 -- */
.g-sm-49, 
.gx-sm-49 {
  --bs-gutter-x: 49px;
}

.g-sm-49, 
.gy-sm-49 {
  --bs-gutter-y: 49px;
}

/* -- g-sm-50 -- */
.g-sm-50, 
.gx-sm-50 {
  --bs-gutter-x: 50px;
}

.g-sm-50, 
.gy-sm-50 {
  --bs-gutter-y: 50px;
}

/* -- g-sm-55 -- */
.g-sm-55, 
.gx-sm-55 {
  --bs-gutter-x: 55px;
}

.g-sm-55, 
.gy-sm-55 {
  --bs-gutter-y: 55px;
}

/* -- g-sm-60 -- */
.g-sm-60, 
.gx-sm-60 {
  --bs-gutter-x: 60px;
}

.g-sm-60, 
.gy-sm-60 {
  --bs-gutter-y: 60px;
}

/* -- g-sm-65 -- */
.g-sm-65, 
.gx-sm-65 {
  --bs-gutter-x: 65px;
}

.g-sm-65, 
.gy-sm-65 {
  --bs-gutter-y: 65px;
}

/* -- g-sm-70 -- */
.g-sm-70, 
.gx-sm-70 {
  --bs-gutter-x: 70px;
}

.g-sm-70, 
.gy-sm-70 {
  --bs-gutter-y: 70px;
}

/* -- g-sm-75 -- */
.g-sm-75, 
.gx-sm-75 {
  --bs-gutter-x: 75px;
}

.g-sm-75, 
.gy-sm-75 {
  --bs-gutter-y: 75px;
}

/* -- g-sm-80 -- */
.g-sm-80, 
.gx-sm-80 {
  --bs-gutter-x: 80px;
}

.g-sm-80, 
.gy-sm-80 {
  --bs-gutter-y: 80px;
}

/* -- g-sm-85 -- */
.g-sm-85, 
.gx-sm-85 {
  --bs-gutter-x: 85px;
}

.g-sm-85, 
.gy-sm-85 {
  --bs-gutter-y: 85px;
}

/* -- g-sm-90 -- */
.g-sm-90, 
.gx-sm-90 {
  --bs-gutter-x: 90px;
}

.g-sm-90, 
.gy-sm-90 {
  --bs-gutter-y: 90px;
}

/* -- g-sm-95 -- */
.g-sm-95, 
.gx-sm-95 {
  --bs-gutter-x: 95px;
}

.g-sm-95, 
.gy-sm-95 {
  --bs-gutter-y: 95px;
}

/* -- g-sm-100 -- */
.g-sm-100, 
.gx-sm-100 {
  --bs-gutter-x: 100px;
}

.g-sm-100, 
.gy-sm-100 {
  --bs-gutter-y: 100px;
}

}
@media (min-width: 768px) {

/* -- g-md-0 -- */
.g-md-0, 
.gx-md-0 {
  --bs-gutter-x: 0px;
}

.g-md-0, 
.gy-md-0 {
  --bs-gutter-y: 0px;
}

/* -- g-md-1 -- */
.g-md-1, 
.gx-md-1 {
  --bs-gutter-x: 1px;
}

.g-md-1, 
.gy-md-1 {
  --bs-gutter-y: 1px;
}

/* -- g-md-2 -- */
.g-md-2, 
.gx-md-2 {
  --bs-gutter-x: 2px;
}

.g-md-2, 
.gy-md-2 {
  --bs-gutter-y: 2px;
}

/* -- g-md-3 -- */
.g-md-3, 
.gx-md-3 {
  --bs-gutter-x: 3px;
}

.g-md-3, 
.gy-md-3 {
  --bs-gutter-y: 3px;
}

/* -- g-md-4 -- */
.g-md-4, 
.gx-md-4 {
  --bs-gutter-x: 4px;
}

.g-md-4, 
.gy-md-4 {
  --bs-gutter-y: 4px;
}

/* -- g-md-5 -- */
.g-md-5, 
.gx-md-5 {
  --bs-gutter-x: 5px;
}

.g-md-5, 
.gy-md-5 {
  --bs-gutter-y: 5px;
}

/* -- g-md-6 -- */
.g-md-6, 
.gx-md-6 {
  --bs-gutter-x: 6px;
}

.g-md-6, 
.gy-md-6 {
  --bs-gutter-y: 6px;
}

/* -- g-md-7 -- */
.g-md-7, 
.gx-md-7 {
  --bs-gutter-x: 7px;
}

.g-md-7, 
.gy-md-7 {
  --bs-gutter-y: 7px;
}

/* -- g-md-8 -- */
.g-md-8, 
.gx-md-8 {
  --bs-gutter-x: 8px;
}

.g-md-8, 
.gy-md-8 {
  --bs-gutter-y: 8px;
}

/* -- g-md-9 -- */
.g-md-9, 
.gx-md-9 {
  --bs-gutter-x: 9px;
}

.g-md-9, 
.gy-md-9 {
  --bs-gutter-y: 9px;
}

/* -- g-md-10 -- */
.g-md-10, 
.gx-md-10 {
  --bs-gutter-x: 10px;
}

.g-md-10, 
.gy-md-10 {
  --bs-gutter-y: 10px;
}

/* -- g-md-11 -- */
.g-md-11, 
.gx-md-11 {
  --bs-gutter-x: 11px;
}

.g-md-11, 
.gy-md-11 {
  --bs-gutter-y: 11px;
}

/* -- g-md-12 -- */
.g-md-12, 
.gx-md-12 {
  --bs-gutter-x: 12px;
}

.g-md-12, 
.gy-md-12 {
  --bs-gutter-y: 12px;
}

/* -- g-md-13 -- */
.g-md-13, 
.gx-md-13 {
  --bs-gutter-x: 13px;
}

.g-md-13, 
.gy-md-13 {
  --bs-gutter-y: 13px;
}

/* -- g-md-14 -- */
.g-md-14, 
.gx-md-14 {
  --bs-gutter-x: 14px;
}

.g-md-14, 
.gy-md-14 {
  --bs-gutter-y: 14px;
}

/* -- g-md-15 -- */
.g-md-15, 
.gx-md-15 {
  --bs-gutter-x: 15px;
}

.g-md-15, 
.gy-md-15 {
  --bs-gutter-y: 15px;
}

/* -- g-md-16 -- */
.g-md-16, 
.gx-md-16 {
  --bs-gutter-x: 16px;
}

.g-md-16, 
.gy-md-16 {
  --bs-gutter-y: 16px;
}

/* -- g-md-17 -- */
.g-md-17, 
.gx-md-17 {
  --bs-gutter-x: 17px;
}

.g-md-17, 
.gy-md-17 {
  --bs-gutter-y: 17px;
}

/* -- g-md-18 -- */
.g-md-18, 
.gx-md-18 {
  --bs-gutter-x: 18px;
}

.g-md-18, 
.gy-md-18 {
  --bs-gutter-y: 18px;
}

/* -- g-md-19 -- */
.g-md-19, 
.gx-md-19 {
  --bs-gutter-x: 19px;
}

.g-md-19, 
.gy-md-19 {
  --bs-gutter-y: 19px;
}

/* -- g-md-20 -- */
.g-md-20, 
.gx-md-20 {
  --bs-gutter-x: 20px;
}

.g-md-20, 
.gy-md-20 {
  --bs-gutter-y: 20px;
}

/* -- g-md-21 -- */
.g-md-21, 
.gx-md-21 {
  --bs-gutter-x: 21px;
}

.g-md-21, 
.gy-md-21 {
  --bs-gutter-y: 21px;
}

/* -- g-md-22 -- */
.g-md-22, 
.gx-md-22 {
  --bs-gutter-x: 22px;
}

.g-md-22, 
.gy-md-22 {
  --bs-gutter-y: 22px;
}

/* -- g-md-23 -- */
.g-md-23, 
.gx-md-23 {
  --bs-gutter-x: 23px;
}

.g-md-23, 
.gy-md-23 {
  --bs-gutter-y: 23px;
}

/* -- g-md-24 -- */
.g-md-24, 
.gx-md-24 {
  --bs-gutter-x: 24px;
}

.g-md-24, 
.gy-md-24 {
  --bs-gutter-y: 24px;
}

/* -- g-md-25 -- */
.g-md-25, 
.gx-md-25 {
  --bs-gutter-x: 25px;
}

.g-md-25, 
.gy-md-25 {
  --bs-gutter-y: 25px;
}

/* -- g-md-26 -- */
.g-md-26, 
.gx-md-26 {
  --bs-gutter-x: 26px;
}

.g-md-26, 
.gy-md-26 {
  --bs-gutter-y: 26px;
}

/* -- g-md-27 -- */
.g-md-27, 
.gx-md-27 {
  --bs-gutter-x: 27px;
}

.g-md-27, 
.gy-md-27 {
  --bs-gutter-y: 27px;
}

/* -- g-md-28 -- */
.g-md-28, 
.gx-md-28 {
  --bs-gutter-x: 28px;
}

.g-md-28, 
.gy-md-28 {
  --bs-gutter-y: 28px;
}

/* -- g-md-29 -- */
.g-md-29, 
.gx-md-29 {
  --bs-gutter-x: 29px;
}

.g-md-29, 
.gy-md-29 {
  --bs-gutter-y: 29px;
}

/* -- g-md-30 -- */
.g-md-30, 
.gx-md-30 {
  --bs-gutter-x: 30px;
}

.g-md-30, 
.gy-md-30 {
  --bs-gutter-y: 30px;
}

/* -- g-md-31 -- */
.g-md-31, 
.gx-md-31 {
  --bs-gutter-x: 31px;
}

.g-md-31, 
.gy-md-31 {
  --bs-gutter-y: 31px;
}

/* -- g-md-32 -- */
.g-md-32, 
.gx-md-32 {
  --bs-gutter-x: 32px;
}

.g-md-32, 
.gy-md-32 {
  --bs-gutter-y: 32px;
}

/* -- g-md-33 -- */
.g-md-33, 
.gx-md-33 {
  --bs-gutter-x: 33px;
}

.g-md-33, 
.gy-md-33 {
  --bs-gutter-y: 33px;
}

/* -- g-md-34 -- */
.g-md-34, 
.gx-md-34 {
  --bs-gutter-x: 34px;
}

.g-md-34, 
.gy-md-34 {
  --bs-gutter-y: 34px;
}

/* -- g-md-35 -- */
.g-md-35, 
.gx-md-35 {
  --bs-gutter-x: 35px;
}

.g-md-35, 
.gy-md-35 {
  --bs-gutter-y: 35px;
}

/* -- g-md-36 -- */
.g-md-36, 
.gx-md-36 {
  --bs-gutter-x: 36px;
}

.g-md-36, 
.gy-md-36 {
  --bs-gutter-y: 36px;
}

/* -- g-md-37 -- */
.g-md-37, 
.gx-md-37 {
  --bs-gutter-x: 37px;
}

.g-md-37, 
.gy-md-37 {
  --bs-gutter-y: 37px;
}

/* -- g-md-38 -- */
.g-md-38, 
.gx-md-38 {
  --bs-gutter-x: 38px;
}

.g-md-38, 
.gy-md-38 {
  --bs-gutter-y: 38px;
}

/* -- g-md-39 -- */
.g-md-39, 
.gx-md-39 {
  --bs-gutter-x: 39px;
}

.g-md-39, 
.gy-md-39 {
  --bs-gutter-y: 39px;
}

/* -- g-md-40 -- */
.g-md-40, 
.gx-md-40 {
  --bs-gutter-x: 40px;
}

.g-md-40, 
.gy-md-40 {
  --bs-gutter-y: 40px;
}

/* -- g-md-41 -- */
.g-md-41, 
.gx-md-41 {
  --bs-gutter-x: 41px;
}

.g-md-41, 
.gy-md-41 {
  --bs-gutter-y: 41px;
}

/* -- g-md-42 -- */
.g-md-42, 
.gx-md-42 {
  --bs-gutter-x: 42px;
}

.g-md-42, 
.gy-md-42 {
  --bs-gutter-y: 42px;
}

/* -- g-md-43 -- */
.g-md-43, 
.gx-md-43 {
  --bs-gutter-x: 43px;
}

.g-md-43, 
.gy-md-43 {
  --bs-gutter-y: 43px;
}

/* -- g-md-44 -- */
.g-md-44, 
.gx-md-44 {
  --bs-gutter-x: 44px;
}

.g-md-44, 
.gy-md-44 {
  --bs-gutter-y: 44px;
}

/* -- g-md-45 -- */
.g-md-45, 
.gx-md-45 {
  --bs-gutter-x: 45px;
}

.g-md-45, 
.gy-md-45 {
  --bs-gutter-y: 45px;
}

/* -- g-md-46 -- */
.g-md-46, 
.gx-md-46 {
  --bs-gutter-x: 46px;
}

.g-md-46, 
.gy-md-46 {
  --bs-gutter-y: 46px;
}

/* -- g-md-47 -- */
.g-md-47, 
.gx-md-47 {
  --bs-gutter-x: 47px;
}

.g-md-47, 
.gy-md-47 {
  --bs-gutter-y: 47px;
}

/* -- g-md-48 -- */
.g-md-48, 
.gx-md-48 {
  --bs-gutter-x: 48px;
}

.g-md-48, 
.gy-md-48 {
  --bs-gutter-y: 48px;
}

/* -- g-md-49 -- */
.g-md-49, 
.gx-md-49 {
  --bs-gutter-x: 49px;
}

.g-md-49, 
.gy-md-49 {
  --bs-gutter-y: 49px;
}

/* -- g-md-50 -- */
.g-md-50, 
.gx-md-50 {
  --bs-gutter-x: 50px;
}

.g-md-50, 
.gy-md-50 {
  --bs-gutter-y: 50px;
}

/* -- g-md-55 -- */
.g-md-55, 
.gx-md-55 {
  --bs-gutter-x: 55px;
}

.g-md-55, 
.gy-md-55 {
  --bs-gutter-y: 55px;
}

/* -- g-md-60 -- */
.g-md-60, 
.gx-md-60 {
  --bs-gutter-x: 60px;
}

.g-md-60, 
.gy-md-60 {
  --bs-gutter-y: 60px;
}

/* -- g-md-65 -- */
.g-md-65, 
.gx-md-65 {
  --bs-gutter-x: 65px;
}

.g-md-65, 
.gy-md-65 {
  --bs-gutter-y: 65px;
}

/* -- g-md-70 -- */
.g-md-70, 
.gx-md-70 {
  --bs-gutter-x: 70px;
}

.g-md-70, 
.gy-md-70 {
  --bs-gutter-y: 70px;
}

/* -- g-md-75 -- */
.g-md-75, 
.gx-md-75 {
  --bs-gutter-x: 75px;
}

.g-md-75, 
.gy-md-75 {
  --bs-gutter-y: 75px;
}

/* -- g-md-80 -- */
.g-md-80, 
.gx-md-80 {
  --bs-gutter-x: 80px;
}

.g-md-80, 
.gy-md-80 {
  --bs-gutter-y: 80px;
}

/* -- g-md-85 -- */
.g-md-85, 
.gx-md-85 {
  --bs-gutter-x: 85px;
}

.g-md-85, 
.gy-md-85 {
  --bs-gutter-y: 85px;
}

/* -- g-md-90 -- */
.g-md-90, 
.gx-md-90 {
  --bs-gutter-x: 90px;
}

.g-md-90, 
.gy-md-90 {
  --bs-gutter-y: 90px;
}

/* -- g-md-95 -- */
.g-md-95, 
.gx-md-95 {
  --bs-gutter-x: 95px;
}

.g-md-95, 
.gy-md-95 {
  --bs-gutter-y: 95px;
}

/* -- g-md-100 -- */
.g-md-100, 
.gx-md-100 {
  --bs-gutter-x: 100px;
}

.g-md-100, 
.gy-md-100 {
  --bs-gutter-y: 100px;
}

}
@media (min-width: 992px) {

/* -- g-lg-0 -- */
.g-lg-0, 
.gx-lg-0 {
  --bs-gutter-x: 0px;
}

.g-lg-0, 
.gy-lg-0 {
  --bs-gutter-y: 0px;
}

/* -- g-lg-1 -- */
.g-lg-1, 
.gx-lg-1 {
  --bs-gutter-x: 1px;
}

.g-lg-1, 
.gy-lg-1 {
  --bs-gutter-y: 1px;
}

/* -- g-lg-2 -- */
.g-lg-2, 
.gx-lg-2 {
  --bs-gutter-x: 2px;
}

.g-lg-2, 
.gy-lg-2 {
  --bs-gutter-y: 2px;
}

/* -- g-lg-3 -- */
.g-lg-3, 
.gx-lg-3 {
  --bs-gutter-x: 3px;
}

.g-lg-3, 
.gy-lg-3 {
  --bs-gutter-y: 3px;
}

/* -- g-lg-4 -- */
.g-lg-4, 
.gx-lg-4 {
  --bs-gutter-x: 4px;
}

.g-lg-4, 
.gy-lg-4 {
  --bs-gutter-y: 4px;
}

/* -- g-lg-5 -- */
.g-lg-5, 
.gx-lg-5 {
  --bs-gutter-x: 5px;
}

.g-lg-5, 
.gy-lg-5 {
  --bs-gutter-y: 5px;
}

/* -- g-lg-6 -- */
.g-lg-6, 
.gx-lg-6 {
  --bs-gutter-x: 6px;
}

.g-lg-6, 
.gy-lg-6 {
  --bs-gutter-y: 6px;
}

/* -- g-lg-7 -- */
.g-lg-7, 
.gx-lg-7 {
  --bs-gutter-x: 7px;
}

.g-lg-7, 
.gy-lg-7 {
  --bs-gutter-y: 7px;
}

/* -- g-lg-8 -- */
.g-lg-8, 
.gx-lg-8 {
  --bs-gutter-x: 8px;
}

.g-lg-8, 
.gy-lg-8 {
  --bs-gutter-y: 8px;
}

/* -- g-lg-9 -- */
.g-lg-9, 
.gx-lg-9 {
  --bs-gutter-x: 9px;
}

.g-lg-9, 
.gy-lg-9 {
  --bs-gutter-y: 9px;
}

/* -- g-lg-10 -- */
.g-lg-10, 
.gx-lg-10 {
  --bs-gutter-x: 10px;
}

.g-lg-10, 
.gy-lg-10 {
  --bs-gutter-y: 10px;
}

/* -- g-lg-11 -- */
.g-lg-11, 
.gx-lg-11 {
  --bs-gutter-x: 11px;
}

.g-lg-11, 
.gy-lg-11 {
  --bs-gutter-y: 11px;
}

/* -- g-lg-12 -- */
.g-lg-12, 
.gx-lg-12 {
  --bs-gutter-x: 12px;
}

.g-lg-12, 
.gy-lg-12 {
  --bs-gutter-y: 12px;
}

/* -- g-lg-13 -- */
.g-lg-13, 
.gx-lg-13 {
  --bs-gutter-x: 13px;
}

.g-lg-13, 
.gy-lg-13 {
  --bs-gutter-y: 13px;
}

/* -- g-lg-14 -- */
.g-lg-14, 
.gx-lg-14 {
  --bs-gutter-x: 14px;
}

.g-lg-14, 
.gy-lg-14 {
  --bs-gutter-y: 14px;
}

/* -- g-lg-15 -- */
.g-lg-15, 
.gx-lg-15 {
  --bs-gutter-x: 15px;
}

.g-lg-15, 
.gy-lg-15 {
  --bs-gutter-y: 15px;
}

/* -- g-lg-16 -- */
.g-lg-16, 
.gx-lg-16 {
  --bs-gutter-x: 16px;
}

.g-lg-16, 
.gy-lg-16 {
  --bs-gutter-y: 16px;
}

/* -- g-lg-17 -- */
.g-lg-17, 
.gx-lg-17 {
  --bs-gutter-x: 17px;
}

.g-lg-17, 
.gy-lg-17 {
  --bs-gutter-y: 17px;
}

/* -- g-lg-18 -- */
.g-lg-18, 
.gx-lg-18 {
  --bs-gutter-x: 18px;
}

.g-lg-18, 
.gy-lg-18 {
  --bs-gutter-y: 18px;
}

/* -- g-lg-19 -- */
.g-lg-19, 
.gx-lg-19 {
  --bs-gutter-x: 19px;
}

.g-lg-19, 
.gy-lg-19 {
  --bs-gutter-y: 19px;
}

/* -- g-lg-20 -- */
.g-lg-20, 
.gx-lg-20 {
  --bs-gutter-x: 20px;
}

.g-lg-20, 
.gy-lg-20 {
  --bs-gutter-y: 20px;
}

/* -- g-lg-21 -- */
.g-lg-21, 
.gx-lg-21 {
  --bs-gutter-x: 21px;
}

.g-lg-21, 
.gy-lg-21 {
  --bs-gutter-y: 21px;
}

/* -- g-lg-22 -- */
.g-lg-22, 
.gx-lg-22 {
  --bs-gutter-x: 22px;
}

.g-lg-22, 
.gy-lg-22 {
  --bs-gutter-y: 22px;
}

/* -- g-lg-23 -- */
.g-lg-23, 
.gx-lg-23 {
  --bs-gutter-x: 23px;
}

.g-lg-23, 
.gy-lg-23 {
  --bs-gutter-y: 23px;
}

/* -- g-lg-24 -- */
.g-lg-24, 
.gx-lg-24 {
  --bs-gutter-x: 24px;
}

.g-lg-24, 
.gy-lg-24 {
  --bs-gutter-y: 24px;
}

/* -- g-lg-25 -- */
.g-lg-25, 
.gx-lg-25 {
  --bs-gutter-x: 25px;
}

.g-lg-25, 
.gy-lg-25 {
  --bs-gutter-y: 25px;
}

/* -- g-lg-26 -- */
.g-lg-26, 
.gx-lg-26 {
  --bs-gutter-x: 26px;
}

.g-lg-26, 
.gy-lg-26 {
  --bs-gutter-y: 26px;
}

/* -- g-lg-27 -- */
.g-lg-27, 
.gx-lg-27 {
  --bs-gutter-x: 27px;
}

.g-lg-27, 
.gy-lg-27 {
  --bs-gutter-y: 27px;
}

/* -- g-lg-28 -- */
.g-lg-28, 
.gx-lg-28 {
  --bs-gutter-x: 28px;
}

.g-lg-28, 
.gy-lg-28 {
  --bs-gutter-y: 28px;
}

/* -- g-lg-29 -- */
.g-lg-29, 
.gx-lg-29 {
  --bs-gutter-x: 29px;
}

.g-lg-29, 
.gy-lg-29 {
  --bs-gutter-y: 29px;
}

/* -- g-lg-30 -- */
.g-lg-30, 
.gx-lg-30 {
  --bs-gutter-x: 30px;
}

.g-lg-30, 
.gy-lg-30 {
  --bs-gutter-y: 30px;
}

/* -- g-lg-31 -- */
.g-lg-31, 
.gx-lg-31 {
  --bs-gutter-x: 31px;
}

.g-lg-31, 
.gy-lg-31 {
  --bs-gutter-y: 31px;
}

/* -- g-lg-32 -- */
.g-lg-32, 
.gx-lg-32 {
  --bs-gutter-x: 32px;
}

.g-lg-32, 
.gy-lg-32 {
  --bs-gutter-y: 32px;
}

/* -- g-lg-33 -- */
.g-lg-33, 
.gx-lg-33 {
  --bs-gutter-x: 33px;
}

.g-lg-33, 
.gy-lg-33 {
  --bs-gutter-y: 33px;
}

/* -- g-lg-34 -- */
.g-lg-34, 
.gx-lg-34 {
  --bs-gutter-x: 34px;
}

.g-lg-34, 
.gy-lg-34 {
  --bs-gutter-y: 34px;
}

/* -- g-lg-35 -- */
.g-lg-35, 
.gx-lg-35 {
  --bs-gutter-x: 35px;
}

.g-lg-35, 
.gy-lg-35 {
  --bs-gutter-y: 35px;
}

/* -- g-lg-36 -- */
.g-lg-36, 
.gx-lg-36 {
  --bs-gutter-x: 36px;
}

.g-lg-36, 
.gy-lg-36 {
  --bs-gutter-y: 36px;
}

/* -- g-lg-37 -- */
.g-lg-37, 
.gx-lg-37 {
  --bs-gutter-x: 37px;
}

.g-lg-37, 
.gy-lg-37 {
  --bs-gutter-y: 37px;
}

/* -- g-lg-38 -- */
.g-lg-38, 
.gx-lg-38 {
  --bs-gutter-x: 38px;
}

.g-lg-38, 
.gy-lg-38 {
  --bs-gutter-y: 38px;
}

/* -- g-lg-39 -- */
.g-lg-39, 
.gx-lg-39 {
  --bs-gutter-x: 39px;
}

.g-lg-39, 
.gy-lg-39 {
  --bs-gutter-y: 39px;
}

/* -- g-lg-40 -- */
.g-lg-40, 
.gx-lg-40 {
  --bs-gutter-x: 40px;
}

.g-lg-40, 
.gy-lg-40 {
  --bs-gutter-y: 40px;
}

/* -- g-lg-41 -- */
.g-lg-41, 
.gx-lg-41 {
  --bs-gutter-x: 41px;
}

.g-lg-41, 
.gy-lg-41 {
  --bs-gutter-y: 41px;
}

/* -- g-lg-42 -- */
.g-lg-42, 
.gx-lg-42 {
  --bs-gutter-x: 42px;
}

.g-lg-42, 
.gy-lg-42 {
  --bs-gutter-y: 42px;
}

/* -- g-lg-43 -- */
.g-lg-43, 
.gx-lg-43 {
  --bs-gutter-x: 43px;
}

.g-lg-43, 
.gy-lg-43 {
  --bs-gutter-y: 43px;
}

/* -- g-lg-44 -- */
.g-lg-44, 
.gx-lg-44 {
  --bs-gutter-x: 44px;
}

.g-lg-44, 
.gy-lg-44 {
  --bs-gutter-y: 44px;
}

/* -- g-lg-45 -- */
.g-lg-45, 
.gx-lg-45 {
  --bs-gutter-x: 45px;
}

.g-lg-45, 
.gy-lg-45 {
  --bs-gutter-y: 45px;
}

/* -- g-lg-46 -- */
.g-lg-46, 
.gx-lg-46 {
  --bs-gutter-x: 46px;
}

.g-lg-46, 
.gy-lg-46 {
  --bs-gutter-y: 46px;
}

/* -- g-lg-47 -- */
.g-lg-47, 
.gx-lg-47 {
  --bs-gutter-x: 47px;
}

.g-lg-47, 
.gy-lg-47 {
  --bs-gutter-y: 47px;
}

/* -- g-lg-48 -- */
.g-lg-48, 
.gx-lg-48 {
  --bs-gutter-x: 48px;
}

.g-lg-48, 
.gy-lg-48 {
  --bs-gutter-y: 48px;
}

/* -- g-lg-49 -- */
.g-lg-49, 
.gx-lg-49 {
  --bs-gutter-x: 49px;
}

.g-lg-49, 
.gy-lg-49 {
  --bs-gutter-y: 49px;
}

/* -- g-lg-50 -- */
.g-lg-50, 
.gx-lg-50 {
  --bs-gutter-x: 50px;
}

.g-lg-50, 
.gy-lg-50 {
  --bs-gutter-y: 50px;
}

/* -- g-lg-55 -- */
.g-lg-55, 
.gx-lg-55 {
  --bs-gutter-x: 55px;
}

.g-lg-55, 
.gy-lg-55 {
  --bs-gutter-y: 55px;
}

/* -- g-lg-60 -- */
.g-lg-60, 
.gx-lg-60 {
  --bs-gutter-x: 60px;
}

.g-lg-60, 
.gy-lg-60 {
  --bs-gutter-y: 60px;
}

/* -- g-lg-65 -- */
.g-lg-65, 
.gx-lg-65 {
  --bs-gutter-x: 65px;
}

.g-lg-65, 
.gy-lg-65 {
  --bs-gutter-y: 65px;
}

/* -- g-lg-70 -- */
.g-lg-70, 
.gx-lg-70 {
  --bs-gutter-x: 70px;
}

.g-lg-70, 
.gy-lg-70 {
  --bs-gutter-y: 70px;
}

/* -- g-lg-75 -- */
.g-lg-75, 
.gx-lg-75 {
  --bs-gutter-x: 75px;
}

.g-lg-75, 
.gy-lg-75 {
  --bs-gutter-y: 75px;
}

/* -- g-lg-80 -- */
.g-lg-80, 
.gx-lg-80 {
  --bs-gutter-x: 80px;
}

.g-lg-80, 
.gy-lg-80 {
  --bs-gutter-y: 80px;
}

/* -- g-lg-85 -- */
.g-lg-85, 
.gx-lg-85 {
  --bs-gutter-x: 85px;
}

.g-lg-85, 
.gy-lg-85 {
  --bs-gutter-y: 85px;
}

/* -- g-lg-90 -- */
.g-lg-90, 
.gx-lg-90 {
  --bs-gutter-x: 90px;
}

.g-lg-90, 
.gy-lg-90 {
  --bs-gutter-y: 90px;
}

/* -- g-lg-95 -- */
.g-lg-95, 
.gx-lg-95 {
  --bs-gutter-x: 95px;
}

.g-lg-95, 
.gy-lg-95 {
  --bs-gutter-y: 95px;
}

/* -- g-lg-100 -- */
.g-lg-100, 
.gx-lg-100 {
  --bs-gutter-x: 100px;
}

.g-lg-100, 
.gy-lg-100 {
  --bs-gutter-y: 100px;
}

}
@media (min-width: 1200px) {

/* -- g-xl-0 -- */
.g-xl-0, 
.gx-xl-0 {
  --bs-gutter-x: 0px;
}

.g-xl-0, 
.gy-xl-0 {
  --bs-gutter-y: 0px;
}

/* -- g-xl-1 -- */
.g-xl-1, 
.gx-xl-1 {
  --bs-gutter-x: 1px;
}

.g-xl-1, 
.gy-xl-1 {
  --bs-gutter-y: 1px;
}

/* -- g-xl-2 -- */
.g-xl-2, 
.gx-xl-2 {
  --bs-gutter-x: 2px;
}

.g-xl-2, 
.gy-xl-2 {
  --bs-gutter-y: 2px;
}

/* -- g-xl-3 -- */
.g-xl-3, 
.gx-xl-3 {
  --bs-gutter-x: 3px;
}

.g-xl-3, 
.gy-xl-3 {
  --bs-gutter-y: 3px;
}

/* -- g-xl-4 -- */
.g-xl-4, 
.gx-xl-4 {
  --bs-gutter-x: 4px;
}

.g-xl-4, 
.gy-xl-4 {
  --bs-gutter-y: 4px;
}

/* -- g-xl-5 -- */
.g-xl-5, 
.gx-xl-5 {
  --bs-gutter-x: 5px;
}

.g-xl-5, 
.gy-xl-5 {
  --bs-gutter-y: 5px;
}

/* -- g-xl-6 -- */
.g-xl-6, 
.gx-xl-6 {
  --bs-gutter-x: 6px;
}

.g-xl-6, 
.gy-xl-6 {
  --bs-gutter-y: 6px;
}

/* -- g-xl-7 -- */
.g-xl-7, 
.gx-xl-7 {
  --bs-gutter-x: 7px;
}

.g-xl-7, 
.gy-xl-7 {
  --bs-gutter-y: 7px;
}

/* -- g-xl-8 -- */
.g-xl-8, 
.gx-xl-8 {
  --bs-gutter-x: 8px;
}

.g-xl-8, 
.gy-xl-8 {
  --bs-gutter-y: 8px;
}

/* -- g-xl-9 -- */
.g-xl-9, 
.gx-xl-9 {
  --bs-gutter-x: 9px;
}

.g-xl-9, 
.gy-xl-9 {
  --bs-gutter-y: 9px;
}

/* -- g-xl-10 -- */
.g-xl-10, 
.gx-xl-10 {
  --bs-gutter-x: 10px;
}

.g-xl-10, 
.gy-xl-10 {
  --bs-gutter-y: 10px;
}

/* -- g-xl-11 -- */
.g-xl-11, 
.gx-xl-11 {
  --bs-gutter-x: 11px;
}

.g-xl-11, 
.gy-xl-11 {
  --bs-gutter-y: 11px;
}

/* -- g-xl-12 -- */
.g-xl-12, 
.gx-xl-12 {
  --bs-gutter-x: 12px;
}

.g-xl-12, 
.gy-xl-12 {
  --bs-gutter-y: 12px;
}

/* -- g-xl-13 -- */
.g-xl-13, 
.gx-xl-13 {
  --bs-gutter-x: 13px;
}

.g-xl-13, 
.gy-xl-13 {
  --bs-gutter-y: 13px;
}

/* -- g-xl-14 -- */
.g-xl-14, 
.gx-xl-14 {
  --bs-gutter-x: 14px;
}

.g-xl-14, 
.gy-xl-14 {
  --bs-gutter-y: 14px;
}

/* -- g-xl-15 -- */
.g-xl-15, 
.gx-xl-15 {
  --bs-gutter-x: 15px;
}

.g-xl-15, 
.gy-xl-15 {
  --bs-gutter-y: 15px;
}

/* -- g-xl-16 -- */
.g-xl-16, 
.gx-xl-16 {
  --bs-gutter-x: 16px;
}

.g-xl-16, 
.gy-xl-16 {
  --bs-gutter-y: 16px;
}

/* -- g-xl-17 -- */
.g-xl-17, 
.gx-xl-17 {
  --bs-gutter-x: 17px;
}

.g-xl-17, 
.gy-xl-17 {
  --bs-gutter-y: 17px;
}

/* -- g-xl-18 -- */
.g-xl-18, 
.gx-xl-18 {
  --bs-gutter-x: 18px;
}

.g-xl-18, 
.gy-xl-18 {
  --bs-gutter-y: 18px;
}

/* -- g-xl-19 -- */
.g-xl-19, 
.gx-xl-19 {
  --bs-gutter-x: 19px;
}

.g-xl-19, 
.gy-xl-19 {
  --bs-gutter-y: 19px;
}

/* -- g-xl-20 -- */
.g-xl-20, 
.gx-xl-20 {
  --bs-gutter-x: 20px;
}

.g-xl-20, 
.gy-xl-20 {
  --bs-gutter-y: 20px;
}

/* -- g-xl-21 -- */
.g-xl-21, 
.gx-xl-21 {
  --bs-gutter-x: 21px;
}

.g-xl-21, 
.gy-xl-21 {
  --bs-gutter-y: 21px;
}

/* -- g-xl-22 -- */
.g-xl-22, 
.gx-xl-22 {
  --bs-gutter-x: 22px;
}

.g-xl-22, 
.gy-xl-22 {
  --bs-gutter-y: 22px;
}

/* -- g-xl-23 -- */
.g-xl-23, 
.gx-xl-23 {
  --bs-gutter-x: 23px;
}

.g-xl-23, 
.gy-xl-23 {
  --bs-gutter-y: 23px;
}

/* -- g-xl-24 -- */
.g-xl-24, 
.gx-xl-24 {
  --bs-gutter-x: 24px;
}

.g-xl-24, 
.gy-xl-24 {
  --bs-gutter-y: 24px;
}

/* -- g-xl-25 -- */
.g-xl-25, 
.gx-xl-25 {
  --bs-gutter-x: 25px;
}

.g-xl-25, 
.gy-xl-25 {
  --bs-gutter-y: 25px;
}

/* -- g-xl-26 -- */
.g-xl-26, 
.gx-xl-26 {
  --bs-gutter-x: 26px;
}

.g-xl-26, 
.gy-xl-26 {
  --bs-gutter-y: 26px;
}

/* -- g-xl-27 -- */
.g-xl-27, 
.gx-xl-27 {
  --bs-gutter-x: 27px;
}

.g-xl-27, 
.gy-xl-27 {
  --bs-gutter-y: 27px;
}

/* -- g-xl-28 -- */
.g-xl-28, 
.gx-xl-28 {
  --bs-gutter-x: 28px;
}

.g-xl-28, 
.gy-xl-28 {
  --bs-gutter-y: 28px;
}

/* -- g-xl-29 -- */
.g-xl-29, 
.gx-xl-29 {
  --bs-gutter-x: 29px;
}

.g-xl-29, 
.gy-xl-29 {
  --bs-gutter-y: 29px;
}

/* -- g-xl-30 -- */
.g-xl-30, 
.gx-xl-30 {
  --bs-gutter-x: 30px;
}

.g-xl-30, 
.gy-xl-30 {
  --bs-gutter-y: 30px;
}

/* -- g-xl-31 -- */
.g-xl-31, 
.gx-xl-31 {
  --bs-gutter-x: 31px;
}

.g-xl-31, 
.gy-xl-31 {
  --bs-gutter-y: 31px;
}

/* -- g-xl-32 -- */
.g-xl-32, 
.gx-xl-32 {
  --bs-gutter-x: 32px;
}

.g-xl-32, 
.gy-xl-32 {
  --bs-gutter-y: 32px;
}

/* -- g-xl-33 -- */
.g-xl-33, 
.gx-xl-33 {
  --bs-gutter-x: 33px;
}

.g-xl-33, 
.gy-xl-33 {
  --bs-gutter-y: 33px;
}

/* -- g-xl-34 -- */
.g-xl-34, 
.gx-xl-34 {
  --bs-gutter-x: 34px;
}

.g-xl-34, 
.gy-xl-34 {
  --bs-gutter-y: 34px;
}

/* -- g-xl-35 -- */
.g-xl-35, 
.gx-xl-35 {
  --bs-gutter-x: 35px;
}

.g-xl-35, 
.gy-xl-35 {
  --bs-gutter-y: 35px;
}

/* -- g-xl-36 -- */
.g-xl-36, 
.gx-xl-36 {
  --bs-gutter-x: 36px;
}

.g-xl-36, 
.gy-xl-36 {
  --bs-gutter-y: 36px;
}

/* -- g-xl-37 -- */
.g-xl-37, 
.gx-xl-37 {
  --bs-gutter-x: 37px;
}

.g-xl-37, 
.gy-xl-37 {
  --bs-gutter-y: 37px;
}

/* -- g-xl-38 -- */
.g-xl-38, 
.gx-xl-38 {
  --bs-gutter-x: 38px;
}

.g-xl-38, 
.gy-xl-38 {
  --bs-gutter-y: 38px;
}

/* -- g-xl-39 -- */
.g-xl-39, 
.gx-xl-39 {
  --bs-gutter-x: 39px;
}

.g-xl-39, 
.gy-xl-39 {
  --bs-gutter-y: 39px;
}

/* -- g-xl-40 -- */
.g-xl-40, 
.gx-xl-40 {
  --bs-gutter-x: 40px;
}

.g-xl-40, 
.gy-xl-40 {
  --bs-gutter-y: 40px;
}

/* -- g-xl-41 -- */
.g-xl-41, 
.gx-xl-41 {
  --bs-gutter-x: 41px;
}

.g-xl-41, 
.gy-xl-41 {
  --bs-gutter-y: 41px;
}

/* -- g-xl-42 -- */
.g-xl-42, 
.gx-xl-42 {
  --bs-gutter-x: 42px;
}

.g-xl-42, 
.gy-xl-42 {
  --bs-gutter-y: 42px;
}

/* -- g-xl-43 -- */
.g-xl-43, 
.gx-xl-43 {
  --bs-gutter-x: 43px;
}

.g-xl-43, 
.gy-xl-43 {
  --bs-gutter-y: 43px;
}

/* -- g-xl-44 -- */
.g-xl-44, 
.gx-xl-44 {
  --bs-gutter-x: 44px;
}

.g-xl-44, 
.gy-xl-44 {
  --bs-gutter-y: 44px;
}

/* -- g-xl-45 -- */
.g-xl-45, 
.gx-xl-45 {
  --bs-gutter-x: 45px;
}

.g-xl-45, 
.gy-xl-45 {
  --bs-gutter-y: 45px;
}

/* -- g-xl-46 -- */
.g-xl-46, 
.gx-xl-46 {
  --bs-gutter-x: 46px;
}

.g-xl-46, 
.gy-xl-46 {
  --bs-gutter-y: 46px;
}

/* -- g-xl-47 -- */
.g-xl-47, 
.gx-xl-47 {
  --bs-gutter-x: 47px;
}

.g-xl-47, 
.gy-xl-47 {
  --bs-gutter-y: 47px;
}

/* -- g-xl-48 -- */
.g-xl-48, 
.gx-xl-48 {
  --bs-gutter-x: 48px;
}

.g-xl-48, 
.gy-xl-48 {
  --bs-gutter-y: 48px;
}

/* -- g-xl-49 -- */
.g-xl-49, 
.gx-xl-49 {
  --bs-gutter-x: 49px;
}

.g-xl-49, 
.gy-xl-49 {
  --bs-gutter-y: 49px;
}

/* -- g-xl-50 -- */
.g-xl-50, 
.gx-xl-50 {
  --bs-gutter-x: 50px;
}

.g-xl-50, 
.gy-xl-50 {
  --bs-gutter-y: 50px;
}

/* -- g-xl-55 -- */
.g-xl-55, 
.gx-xl-55 {
  --bs-gutter-x: 55px;
}

.g-xl-55, 
.gy-xl-55 {
  --bs-gutter-y: 55px;
}

/* -- g-xl-60 -- */
.g-xl-60, 
.gx-xl-60 {
  --bs-gutter-x: 60px;
}

.g-xl-60, 
.gy-xl-60 {
  --bs-gutter-y: 60px;
}

/* -- g-xl-65 -- */
.g-xl-65, 
.gx-xl-65 {
  --bs-gutter-x: 65px;
}

.g-xl-65, 
.gy-xl-65 {
  --bs-gutter-y: 65px;
}

/* -- g-xl-70 -- */
.g-xl-70, 
.gx-xl-70 {
  --bs-gutter-x: 70px;
}

.g-xl-70, 
.gy-xl-70 {
  --bs-gutter-y: 70px;
}

/* -- g-xl-75 -- */
.g-xl-75, 
.gx-xl-75 {
  --bs-gutter-x: 75px;
}

.g-xl-75, 
.gy-xl-75 {
  --bs-gutter-y: 75px;
}

/* -- g-xl-80 -- */
.g-xl-80, 
.gx-xl-80 {
  --bs-gutter-x: 80px;
}

.g-xl-80, 
.gy-xl-80 {
  --bs-gutter-y: 80px;
}

/* -- g-xl-85 -- */
.g-xl-85, 
.gx-xl-85 {
  --bs-gutter-x: 85px;
}

.g-xl-85, 
.gy-xl-85 {
  --bs-gutter-y: 85px;
}

/* -- g-xl-90 -- */
.g-xl-90, 
.gx-xl-90 {
  --bs-gutter-x: 90px;
}

.g-xl-90, 
.gy-xl-90 {
  --bs-gutter-y: 90px;
}

/* -- g-xl-95 -- */
.g-xl-95, 
.gx-xl-95 {
  --bs-gutter-x: 95px;
}

.g-xl-95, 
.gy-xl-95 {
  --bs-gutter-y: 95px;
}

/* -- g-xl-100 -- */
.g-xl-100, 
.gx-xl-100 {
  --bs-gutter-x: 100px;
}

.g-xl-100, 
.gy-xl-100 {
  --bs-gutter-y: 100px;
}

}
@media (min-width: 1400px) {

/* -- g-xxl-0 -- */
.g-xxl-0, 
.gx-xxl-0 {
  --bs-gutter-x: 0px;
}

.g-xxl-0, 
.gy-xxl-0 {
  --bs-gutter-y: 0px;
}

/* -- g-xxl-1 -- */
.g-xxl-1, 
.gx-xxl-1 {
  --bs-gutter-x: 1px;
}

.g-xxl-1, 
.gy-xxl-1 {
  --bs-gutter-y: 1px;
}

/* -- g-xxl-2 -- */
.g-xxl-2, 
.gx-xxl-2 {
  --bs-gutter-x: 2px;
}

.g-xxl-2, 
.gy-xxl-2 {
  --bs-gutter-y: 2px;
}

/* -- g-xxl-3 -- */
.g-xxl-3, 
.gx-xxl-3 {
  --bs-gutter-x: 3px;
}

.g-xxl-3, 
.gy-xxl-3 {
  --bs-gutter-y: 3px;
}

/* -- g-xxl-4 -- */
.g-xxl-4, 
.gx-xxl-4 {
  --bs-gutter-x: 4px;
}

.g-xxl-4, 
.gy-xxl-4 {
  --bs-gutter-y: 4px;
}

/* -- g-xxl-5 -- */
.g-xxl-5, 
.gx-xxl-5 {
  --bs-gutter-x: 5px;
}

.g-xxl-5, 
.gy-xxl-5 {
  --bs-gutter-y: 5px;
}

/* -- g-xxl-6 -- */
.g-xxl-6, 
.gx-xxl-6 {
  --bs-gutter-x: 6px;
}

.g-xxl-6, 
.gy-xxl-6 {
  --bs-gutter-y: 6px;
}

/* -- g-xxl-7 -- */
.g-xxl-7, 
.gx-xxl-7 {
  --bs-gutter-x: 7px;
}

.g-xxl-7, 
.gy-xxl-7 {
  --bs-gutter-y: 7px;
}

/* -- g-xxl-8 -- */
.g-xxl-8, 
.gx-xxl-8 {
  --bs-gutter-x: 8px;
}

.g-xxl-8, 
.gy-xxl-8 {
  --bs-gutter-y: 8px;
}

/* -- g-xxl-9 -- */
.g-xxl-9, 
.gx-xxl-9 {
  --bs-gutter-x: 9px;
}

.g-xxl-9, 
.gy-xxl-9 {
  --bs-gutter-y: 9px;
}

/* -- g-xxl-10 -- */
.g-xxl-10, 
.gx-xxl-10 {
  --bs-gutter-x: 10px;
}

.g-xxl-10, 
.gy-xxl-10 {
  --bs-gutter-y: 10px;
}

/* -- g-xxl-11 -- */
.g-xxl-11, 
.gx-xxl-11 {
  --bs-gutter-x: 11px;
}

.g-xxl-11, 
.gy-xxl-11 {
  --bs-gutter-y: 11px;
}

/* -- g-xxl-12 -- */
.g-xxl-12, 
.gx-xxl-12 {
  --bs-gutter-x: 12px;
}

.g-xxl-12, 
.gy-xxl-12 {
  --bs-gutter-y: 12px;
}

/* -- g-xxl-13 -- */
.g-xxl-13, 
.gx-xxl-13 {
  --bs-gutter-x: 13px;
}

.g-xxl-13, 
.gy-xxl-13 {
  --bs-gutter-y: 13px;
}

/* -- g-xxl-14 -- */
.g-xxl-14, 
.gx-xxl-14 {
  --bs-gutter-x: 14px;
}

.g-xxl-14, 
.gy-xxl-14 {
  --bs-gutter-y: 14px;
}

/* -- g-xxl-15 -- */
.g-xxl-15, 
.gx-xxl-15 {
  --bs-gutter-x: 15px;
}

.g-xxl-15, 
.gy-xxl-15 {
  --bs-gutter-y: 15px;
}

/* -- g-xxl-16 -- */
.g-xxl-16, 
.gx-xxl-16 {
  --bs-gutter-x: 16px;
}

.g-xxl-16, 
.gy-xxl-16 {
  --bs-gutter-y: 16px;
}

/* -- g-xxl-17 -- */
.g-xxl-17, 
.gx-xxl-17 {
  --bs-gutter-x: 17px;
}

.g-xxl-17, 
.gy-xxl-17 {
  --bs-gutter-y: 17px;
}

/* -- g-xxl-18 -- */
.g-xxl-18, 
.gx-xxl-18 {
  --bs-gutter-x: 18px;
}

.g-xxl-18, 
.gy-xxl-18 {
  --bs-gutter-y: 18px;
}

/* -- g-xxl-19 -- */
.g-xxl-19, 
.gx-xxl-19 {
  --bs-gutter-x: 19px;
}

.g-xxl-19, 
.gy-xxl-19 {
  --bs-gutter-y: 19px;
}

/* -- g-xxl-20 -- */
.g-xxl-20, 
.gx-xxl-20 {
  --bs-gutter-x: 20px;
}

.g-xxl-20, 
.gy-xxl-20 {
  --bs-gutter-y: 20px;
}

/* -- g-xxl-21 -- */
.g-xxl-21, 
.gx-xxl-21 {
  --bs-gutter-x: 21px;
}

.g-xxl-21, 
.gy-xxl-21 {
  --bs-gutter-y: 21px;
}

/* -- g-xxl-22 -- */
.g-xxl-22, 
.gx-xxl-22 {
  --bs-gutter-x: 22px;
}

.g-xxl-22, 
.gy-xxl-22 {
  --bs-gutter-y: 22px;
}

/* -- g-xxl-23 -- */
.g-xxl-23, 
.gx-xxl-23 {
  --bs-gutter-x: 23px;
}

.g-xxl-23, 
.gy-xxl-23 {
  --bs-gutter-y: 23px;
}

/* -- g-xxl-24 -- */
.g-xxl-24, 
.gx-xxl-24 {
  --bs-gutter-x: 24px;
}

.g-xxl-24, 
.gy-xxl-24 {
  --bs-gutter-y: 24px;
}

/* -- g-xxl-25 -- */
.g-xxl-25, 
.gx-xxl-25 {
  --bs-gutter-x: 25px;
}

.g-xxl-25, 
.gy-xxl-25 {
  --bs-gutter-y: 25px;
}

/* -- g-xxl-26 -- */
.g-xxl-26, 
.gx-xxl-26 {
  --bs-gutter-x: 26px;
}

.g-xxl-26, 
.gy-xxl-26 {
  --bs-gutter-y: 26px;
}

/* -- g-xxl-27 -- */
.g-xxl-27, 
.gx-xxl-27 {
  --bs-gutter-x: 27px;
}

.g-xxl-27, 
.gy-xxl-27 {
  --bs-gutter-y: 27px;
}

/* -- g-xxl-28 -- */
.g-xxl-28, 
.gx-xxl-28 {
  --bs-gutter-x: 28px;
}

.g-xxl-28, 
.gy-xxl-28 {
  --bs-gutter-y: 28px;
}

/* -- g-xxl-29 -- */
.g-xxl-29, 
.gx-xxl-29 {
  --bs-gutter-x: 29px;
}

.g-xxl-29, 
.gy-xxl-29 {
  --bs-gutter-y: 29px;
}

/* -- g-xxl-30 -- */
.g-xxl-30, 
.gx-xxl-30 {
  --bs-gutter-x: 30px;
}

.g-xxl-30, 
.gy-xxl-30 {
  --bs-gutter-y: 30px;
}

/* -- g-xxl-31 -- */
.g-xxl-31, 
.gx-xxl-31 {
  --bs-gutter-x: 31px;
}

.g-xxl-31, 
.gy-xxl-31 {
  --bs-gutter-y: 31px;
}

/* -- g-xxl-32 -- */
.g-xxl-32, 
.gx-xxl-32 {
  --bs-gutter-x: 32px;
}

.g-xxl-32, 
.gy-xxl-32 {
  --bs-gutter-y: 32px;
}

/* -- g-xxl-33 -- */
.g-xxl-33, 
.gx-xxl-33 {
  --bs-gutter-x: 33px;
}

.g-xxl-33, 
.gy-xxl-33 {
  --bs-gutter-y: 33px;
}

/* -- g-xxl-34 -- */
.g-xxl-34, 
.gx-xxl-34 {
  --bs-gutter-x: 34px;
}

.g-xxl-34, 
.gy-xxl-34 {
  --bs-gutter-y: 34px;
}

/* -- g-xxl-35 -- */
.g-xxl-35, 
.gx-xxl-35 {
  --bs-gutter-x: 35px;
}

.g-xxl-35, 
.gy-xxl-35 {
  --bs-gutter-y: 35px;
}

/* -- g-xxl-36 -- */
.g-xxl-36, 
.gx-xxl-36 {
  --bs-gutter-x: 36px;
}

.g-xxl-36, 
.gy-xxl-36 {
  --bs-gutter-y: 36px;
}

/* -- g-xxl-37 -- */
.g-xxl-37, 
.gx-xxl-37 {
  --bs-gutter-x: 37px;
}

.g-xxl-37, 
.gy-xxl-37 {
  --bs-gutter-y: 37px;
}

/* -- g-xxl-38 -- */
.g-xxl-38, 
.gx-xxl-38 {
  --bs-gutter-x: 38px;
}

.g-xxl-38, 
.gy-xxl-38 {
  --bs-gutter-y: 38px;
}

/* -- g-xxl-39 -- */
.g-xxl-39, 
.gx-xxl-39 {
  --bs-gutter-x: 39px;
}

.g-xxl-39, 
.gy-xxl-39 {
  --bs-gutter-y: 39px;
}

/* -- g-xxl-40 -- */
.g-xxl-40, 
.gx-xxl-40 {
  --bs-gutter-x: 40px;
}

.g-xxl-40, 
.gy-xxl-40 {
  --bs-gutter-y: 40px;
}

/* -- g-xxl-41 -- */
.g-xxl-41, 
.gx-xxl-41 {
  --bs-gutter-x: 41px;
}

.g-xxl-41, 
.gy-xxl-41 {
  --bs-gutter-y: 41px;
}

/* -- g-xxl-42 -- */
.g-xxl-42, 
.gx-xxl-42 {
  --bs-gutter-x: 42px;
}

.g-xxl-42, 
.gy-xxl-42 {
  --bs-gutter-y: 42px;
}

/* -- g-xxl-43 -- */
.g-xxl-43, 
.gx-xxl-43 {
  --bs-gutter-x: 43px;
}

.g-xxl-43, 
.gy-xxl-43 {
  --bs-gutter-y: 43px;
}

/* -- g-xxl-44 -- */
.g-xxl-44, 
.gx-xxl-44 {
  --bs-gutter-x: 44px;
}

.g-xxl-44, 
.gy-xxl-44 {
  --bs-gutter-y: 44px;
}

/* -- g-xxl-45 -- */
.g-xxl-45, 
.gx-xxl-45 {
  --bs-gutter-x: 45px;
}

.g-xxl-45, 
.gy-xxl-45 {
  --bs-gutter-y: 45px;
}

/* -- g-xxl-46 -- */
.g-xxl-46, 
.gx-xxl-46 {
  --bs-gutter-x: 46px;
}

.g-xxl-46, 
.gy-xxl-46 {
  --bs-gutter-y: 46px;
}

/* -- g-xxl-47 -- */
.g-xxl-47, 
.gx-xxl-47 {
  --bs-gutter-x: 47px;
}

.g-xxl-47, 
.gy-xxl-47 {
  --bs-gutter-y: 47px;
}

/* -- g-xxl-48 -- */
.g-xxl-48, 
.gx-xxl-48 {
  --bs-gutter-x: 48px;
}

.g-xxl-48, 
.gy-xxl-48 {
  --bs-gutter-y: 48px;
}

/* -- g-xxl-49 -- */
.g-xxl-49, 
.gx-xxl-49 {
  --bs-gutter-x: 49px;
}

.g-xxl-49, 
.gy-xxl-49 {
  --bs-gutter-y: 49px;
}

/* -- g-xxl-50 -- */
.g-xxl-50, 
.gx-xxl-50 {
  --bs-gutter-x: 50px;
}

.g-xxl-50, 
.gy-xxl-50 {
  --bs-gutter-y: 50px;
}

/* -- g-xxl-55 -- */
.g-xxl-55, 
.gx-xxl-55 {
  --bs-gutter-x: 55px;
}

.g-xxl-55, 
.gy-xxl-55 {
  --bs-gutter-y: 55px;
}

/* -- g-xxl-60 -- */
.g-xxl-60, 
.gx-xxl-60 {
  --bs-gutter-x: 60px;
}

.g-xxl-60, 
.gy-xxl-60 {
  --bs-gutter-y: 60px;
}

/* -- g-xxl-65 -- */
.g-xxl-65, 
.gx-xxl-65 {
  --bs-gutter-x: 65px;
}

.g-xxl-65, 
.gy-xxl-65 {
  --bs-gutter-y: 65px;
}

/* -- g-xxl-70 -- */
.g-xxl-70, 
.gx-xxl-70 {
  --bs-gutter-x: 70px;
}

.g-xxl-70, 
.gy-xxl-70 {
  --bs-gutter-y: 70px;
}

/* -- g-xxl-75 -- */
.g-xxl-75, 
.gx-xxl-75 {
  --bs-gutter-x: 75px;
}

.g-xxl-75, 
.gy-xxl-75 {
  --bs-gutter-y: 75px;
}

/* -- g-xxl-80 -- */
.g-xxl-80, 
.gx-xxl-80 {
  --bs-gutter-x: 80px;
}

.g-xxl-80, 
.gy-xxl-80 {
  --bs-gutter-y: 80px;
}

/* -- g-xxl-85 -- */
.g-xxl-85, 
.gx-xxl-85 {
  --bs-gutter-x: 85px;
}

.g-xxl-85, 
.gy-xxl-85 {
  --bs-gutter-y: 85px;
}

/* -- g-xxl-90 -- */
.g-xxl-90, 
.gx-xxl-90 {
  --bs-gutter-x: 90px;
}

.g-xxl-90, 
.gy-xxl-90 {
  --bs-gutter-y: 90px;
}

/* -- g-xxl-95 -- */
.g-xxl-95, 
.gx-xxl-95 {
  --bs-gutter-x: 95px;
}

.g-xxl-95, 
.gy-xxl-95 {
  --bs-gutter-y: 95px;
}

/* -- g-xxl-100 -- */
.g-xxl-100, 
.gx-xxl-100 {
  --bs-gutter-x: 100px;
}

.g-xxl-100, 
.gy-xxl-100 {
  --bs-gutter-y: 100px;
}

}
